![title](imgs2/tuple.png)
![title](imgs2/tu.png)
![title](imgs2/tu1.png)
![title](imgs2/tu2.png)
![title](imgs2/tu3.png)
![title](imgs2/tu4.png)

### Coding

In [5]:
a = (10,20,30)
b = 10,20,30

In [6]:
type(a)

tuple

In [7]:
type(b)

tuple

In [8]:
# BUT

def print_tuple(t):
    for e in t:
        print(e)

In [10]:
#NEEDED PARANTHESIS
print_tuple((10,20,30))

10
20
30

In [14]:
a = 'a', 20,30,40,50,60

In [16]:
x,y,z,t,s,u = a

In [17]:
x

'a'

In [21]:
x,*_,y,z = a

In [22]:
z

60

In [24]:
_

[20, 30, 40]

In [25]:
a

('a', 20, 30, 40, 50, 60)

In [26]:
class Point2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__} x = {self.x}, y = {self.y}'

In [27]:
pt = Point2D(10,20)

In [28]:
pt

Point2D x = 10, y = 20

In [29]:
pt.x = 100

In [30]:
pt

Point2D x = 100, y = 20

In [31]:
a = Point2D(0,0), Point2D(20,30)

In [32]:
a

(Point2D x = 0, y = 0, Point2D x = 20, y = 30)

In [34]:
id(a[0])

4491378816

In [35]:
a[0].x = 100

In [36]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [38]:
cities = [london, new_york, beijing] # heterogeneous in tuple vs homogeneous in list

In [39]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [41]:
sum(city[2] for city in cities)

38280000

In [42]:
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [44]:
for index, city in enumerate(cities):
    print(index,city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)

In [45]:
from random import uniform
from math import sqrt

def random_shot(radius):
    random_x = uniform(-radius,radius)
    random_y = uniform(-radius,radius)
    
    if sqrt(random_x**2 +random_y**2) <= radius:
        is_in_circle = True
    else:
        is_in_circle = False
        
    return random_x, random_y, is_in_circle

In [49]:
num_attempts = 1_000_000
count_inside = 0
for i in range(num_attempts):
    *_,is_in_circle =  random_shot(1)
    if is_in_circle:
        count_inside += 1
print(f'Pi is approximately: {4 * count_inside / num_attempts}')

Pi is approximately: 3.14126

### NAMEDTUPLE

![title](imgs2/named.png)
![title](imgs2/named1.png)
![title](imgs2/named2.png)
![title](imgs2/named3.png)
![title](imgs2/named4.png)

![title](imgs2/amed5.png)

In [52]:
class Point3D:
    def __init__(self,x,y,z):
        self.x = x
        self.y = y
        self.z = z

In [53]:
from collections import namedtuple

In [196]:
Point2D = namedtuple('Point2D',['x','y'])

In [55]:
pt1 = Point2D(10,20)

In [56]:
pt1

Point2D(x=10, y=20)

In [57]:
pt3d_1 = Point3D(10,20,30)

In [58]:
pt3d_1 # to fix this output we need to write __rep__ function

In [59]:
Pt2D = namedtuple('Point2D', ('x','y'))

In [60]:
pt2 = Pt2D(10,20)

In [61]:
pt2

Point2D(x=10, y=20)

In [62]:
p = Point2D(x=10,y=20)

In [63]:
p

Point2D(x=10, y=20)

In [64]:
isinstance(p,tuple)

True

In [65]:
a = (10,20)
b = (10,20)

In [66]:
a == b

True

In [67]:
a is b

False

In [71]:
class Point3D:
    def __init__(self,x,y,z):
        self.x = x
        self.y = y
        self.z = z
    
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y = {self.y}, z = {self.z})'
    
    def __eq__(self, other):
        if isinstance(other,Point3D):
            return self.x == other.x and self.y == other.y and self.z == other.z
        else:
            return False

In [72]:
pt1 = Point3D(10,20,30)
pt2 = Point3D(10,20,30)

In [73]:
pt1 == pt2

True

In [74]:
pt1 = Point2D(10,20)

In [75]:
max(pt1)

20

In [76]:
pt2 = Point3D(10,20,30)

In [77]:
max(pt2)

TypeError: 'Point3D' object is not iterable

In [78]:
def dot_product_3d(a,b):
    return a.x*b.x+a.y*b.y+a.z*b.z

In [79]:
pt1 = Point3D(1,2,3)
pt2 = Point3D(1,1,1)

In [80]:
dot_product_3d(pt1,pt2)

6

In [85]:
a = (1,2)
b = (1,1)

In [86]:
list(zip(a,b))

[(1, 1), (2, 1)]

In [89]:
def dot_product(a,b):
    return sum(e[0]*e[1] for e in zip(a,b))

In [90]:
dot_product(a,b)

3

In [91]:
pt1 = Point2D(1,2)
pt2 = Point2D(1,1)

In [92]:
dot_product(pt1,pt2)

3

In [94]:
Vector3D = namedtuple('Vector3D', 'x y z')

In [95]:
v1 = Vector3D(1,2,3)
v2 = Vector3D(1,1,1)

In [96]:
v1

Vector3D(x=1, y=2, z=3)

In [97]:
dot_product(v1,v2)

6

In [98]:
v1.y

2

In [100]:
Circle = namedtuple('Circle', 'center_x center_y radius')

In [101]:
c = Circle(0,0,1)

In [102]:
c

Circle(center_x=0, center_y=0, radius=1)

In [103]:
c.radius

1

In [124]:
Stock = namedtuple('Stock', 'symbol year month day open high low close')

In [125]:
djia = Stock('DJIA', 2018, 1, 25, 26_313, 26_458, 26_260, 26_393)

In [126]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [127]:
djia.close

26393

In [128]:
for item in djia:
    print(item)

DJIA
2018
1
25
26313
26458
26260
26393

In [129]:
p = Point2D(10,20)

In [130]:
x,y = p

In [131]:
x

10

In [132]:
symbol, year, month, day, *_, close = djia

In [133]:
symbol, year, month, day, close

('DJIA', 2018, 1, 25, 26393)

In [134]:
Person = namedtuple('Person', 'name age _ssn', rename = True)

In [135]:
Person._fields

('name', 'age', '_2')

In [136]:
Point2D._fields

('x', 'y')

In [137]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [148]:
d = djia._asdict()

In [149]:
d['symbol']

'DJIA'

In [150]:
d

OrderedDict([('symbol', 'DJIA'),
             ('year', 2018),
             ('month', 1),
             ('day', 25),
             ('open', 26313),
             ('high', 26458),
             ('low', 26260),
             ('close', 26393)])

In [151]:
dict(djia._asdict())

{'symbol': 'DJIA',
 'year': 2018,
 'month': 1,
 'day': 25,
 'open': 26313,
 'high': 26458,
 'low': 26260,
 'close': 26393}

### Modifying and Extending

![title](imgs2/namedt.png)
![title](imgs2/namedt1.png)

![title](imgs2/n1.png)
![title](imgs2/n2.png)
![title](imgs2/n3.png)
![title](imgs2/n4.png)
![title](imgs2/n5.png)

In [152]:
Point2D = namedtuple('Point2D', 'x y')

In [153]:
pt = Point2D(10,20)

In [154]:
pt

Point2D(x=10, y=20)

In [155]:
pt[0]

10

In [156]:
pt.x

10

In [157]:
pt.x = 100

AttributeError: can't set attribute

In [158]:
id(pt)

4491557048

In [160]:
pt = Point2D(100,pt.y)

In [161]:
pt

Point2D(x=100, y=20)

In [162]:
id(pt)

4491558128

In [163]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [167]:
*values, _ = djia

In [168]:
close

26393

In [169]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260]

In [172]:
values.append(26_393)

In [173]:
values

['DJIA', 2018, 1, 25, 26313, 26458, 26260, 26393]

In [174]:
djia = Stock(*values)

In [175]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=26393)

In [176]:
values = djia[:7]

In [177]:
values

('DJIA', 2018, 1, 25, 26313, 26458, 26260)

In [178]:
values +(100,)

('DJIA', 2018, 1, 25, 26313, 26458, 26260, 100)

In [179]:
djia = Stock(*values + (100,))

In [180]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=100)

In [181]:
djia = Stock(*values, 1000)

In [186]:
id(djia)

4491508736

In [187]:
djia

Stock(symbol='DJIA', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [188]:
djia = djia._replace(year = 2019, open = 10000)

In [189]:
djia

Stock(symbol='DJIA', year=2019, month=1, day=25, open=10000, high=26458, low=26260, close=1000)

In [190]:
id(djia)

4491508856

In [193]:
djia = Stock._make(values +(200, ))

In [194]:
djia

Stock(symbol='DJIA', year=2018, month=1, day=25, open=26313, high=26458, low=26260, close=200)

In [198]:
Point2D._fields

('x', 'y')

In [202]:
Point2D._fields +('z',)

('x', 'y', 'z')

In [203]:
Point3D = namedtuple('Point3D', Point2D._fields +('z',))

In [204]:
Point3D._fields

('x', 'y', 'z')

In [205]:
Stock._fields

('symbol', 'year', 'month', 'day', 'open', 'high', 'low', 'close')

In [206]:
StockExt = namedtuple('StockExt', Stock._fields + ('previous_close',))

In [207]:
StockExt._fields

('symbol',
 'year',
 'month',
 'day',
 'open',
 'high',
 'low',
 'close',
 'previous_close')

In [208]:
pt

Point2D(x=100, y=20)

In [209]:
pt3d = Point3D(*pt,100)

In [210]:
pt3d

Point3D(x=100, y=20, z=100)

### Docstrings and Defaults

In [212]:
Point2D = namedtuple('Point2D', 'x y')

In [215]:
Point2D.__new__.__defaults__ = (0,0)

In [216]:
help(Point2D)

Help on class Point2D in module __main__:

class Point2D(builtins.tuple)
 |  Point2D(x=0, y=0)
 |
 |  Point2D(x, y)
 |
 |  Method resolution order:
 |      Point2D
 |      builtins.tuple
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getnewargs__(self)
 |      Return self as a plain tuple.  Used by copy and pickle.
 |
 |  __repr__(self)
 |      Return a nicely formatted representation string
 |
 |  _asdict(self)
 |      Return a new OrderedDict which maps field names to their values.
 |
 |  _replace(_self, **kwds)
 |      Return a new Point2D object replacing specified fields with new values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  _make(iterable) from builtins.type
 |      Make a new Point2D object from a sequence or iterable
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(_cls, x=0, y=0)
 |      Create new instance of Point2D(x, y)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  x
 |      Alias for field number 0
 |
 |  y
 |      Alias for field number 1
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  _fields = ('x', 'y')
 |
 |  _fields_defaults = {}
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from builtins.tuple:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.

In [214]:
Point2D.__doc__

'Point2D(x, y)'

In [217]:
p1 = Point2D(10,20)

In [218]:
p1

Point2D(x=10, y=20)

In [219]:
Vector2D = namedtuple('Vector2D', 'x1 y1 x2 y2 origin_x origin_y')

In [220]:
Vector2D.__new__.__defaults__ = (0,0)

In [221]:
v1 = Vector2D(2,2,10,10)

In [222]:
v1

Vector2D(x1=2, y1=2, x2=10, y2=10, origin_x=0, origin_y=0)

### Named Tuples - Application - Returning Multiple Values

In [224]:
from random import randint, random

In [225]:
def random_color():
    red = randint(0,255)
    blue = randint(0,255)
    green = randint(0,255)
    alpha = round(random(), 2)
    return red, green, blue, alpha

In [226]:
color = random_color()

In [228]:
color

(74, 97, 131, 0.06)

In [230]:
Color = namedtuple('Color', 'red blue green alpha')

In [231]:
def random_color():
    red = randint(0,255)
    blue = randint(0,255)
    green = randint(0,255)
    alpha = round(random(), 2)
    return Color(red, green, blue, alpha)

In [233]:
color = random_color()

In [234]:
color

Color(red=80, blue=145, green=186, alpha=0.99)

### Named Tuples - Alternative to Dictionaries

In [235]:
data_dict = dict(key1=100, key2=200, key3=300)

In [236]:
Data = namedtuple('Data', data_dict.keys())

In [238]:
d1 = Data(*data_dict.values()) # Need to be unpacked

In [239]:
d1

Data(key1=100, key2=200, key3=300)

In [242]:
d2 = Data(**data_dict) # unpack it using keyword args

In [243]:
d2

Data(key1=100, key2=200, key3=300)

In [244]:
data_dict.get('key10',None)

In [245]:
getattr(d2, 'key3')

300

In [246]:
getattr(d2, 'key10', None)

In [247]:
d2.key1

100

In [250]:
data_list = [
    {'key1' : 1, 'key2' : 2},
    {'key1' : 3, 'key2' : 4},
    {'key1' : 5, 'key2' : 6, 'key3' : 7},
    {'key2' : 100}
]

In [251]:
keys = set()

In [252]:
for d in data_list:
    for key in d.keys():
        keys.add(key)
print(keys)

{'key3', 'key1', 'key2'}

In [253]:
keys = {key for dict_ in data_list for key in dict_.keys()}

In [254]:
keys

{'key1', 'key2', 'key3'}

In [255]:
Struct = namedtuple('Struct', sorted(keys))

In [258]:
Struct._fields

('key1', 'key2', 'key3')

In [260]:
Struct.__new__.__defaults__ = (None,) * len(Struct._fields)

In [261]:
tuple_list = []
for dict_ in data_list:
    tuple_list.append(Struct(**dict_))

In [262]:
print(tuple_list)

[Struct(key1=1, key2=2, key3=None), Struct(key1=3, key2=4, key3=None), Struct(key1=5, key2=6, key3=7), Struct(key1=None, key2=100, key3=None)]

In [268]:
def tuplify_dicts(dicts):
    keys = {key for dict_ in dicts for key in dict_.keys()}
    Struct = namedtuple('Struct', sorted(keys), rename = True)
    Struct.__new__.__defaults__ = (None,) * len(Struct._fields)
    return [Struct(**dict_) for dict_ in dicts]

In [269]:
tuple_list = tuplify_dicts(data_list)

In [270]:
tuple_list

[Struct(key1=1, key2=2, key3=None),
 Struct(key1=3, key2=4, key3=None),
 Struct(key1=5, key2=6, key3=7),
 Struct(key1=None, key2=100, key3=None)]