![title](imgs2/tuple.png)
![title](imgs2/tu.png)
![title](imgs2/tu1.png)
![title](imgs2/tu2.png)
![title](imgs2/tu3.png)
![title](imgs2/tu4.png)

### Coding

In [5]:
a = (10,20,30)
b = 10,20,30

In [6]:
type(a)

tuple

In [7]:
type(b)

tuple

In [8]:
# BUT

def print_tuple(t):
    for e in t:
        print(e)

In [10]:
#NEEDED PARANTHESIS
print_tuple((10,20,30))

10
20
30

In [14]:
a = 'a', 20,30,40,50,60

In [16]:
x,y,z,t,s,u = a

In [17]:
x

'a'

In [21]:
x,*_,y,z = a

In [22]:
z

60

In [24]:
_

[20, 30, 40]

In [25]:
a

('a', 20, 30, 40, 50, 60)

In [26]:
class Point2D:
    def __init__(self,x,y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__} x = {self.x}, y = {self.y}'

In [27]:
pt = Point2D(10,20)

In [28]:
pt

Point2D x = 10, y = 20

In [29]:
pt.x = 100

In [30]:
pt

Point2D x = 100, y = 20

In [31]:
a = Point2D(0,0), Point2D(20,30)

In [32]:
a

(Point2D x = 0, y = 0, Point2D x = 20, y = 30)

In [34]:
id(a[0])

4491378816

In [35]:
a[0].x = 100

In [36]:
london = 'London', 'UK', 8_780_000
new_york = 'New York', 'USA', 8_500_000
beijing = 'Beijing', 'China', 21_000_000

In [38]:
cities = [london, new_york, beijing] # heterogeneous in tuple vs homogeneous in list

In [39]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [41]:
sum(city[2] for city in cities)

38280000